<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
    <div class="navbar">
        <div class="navbar-left">
            <h1>BoolBnB</h1>
            <input type="text" name="" value="" placeholder="Cerca">
            <i class="fas fa-search"></i>
        </div>
        <div class="navbar-right">
            <span>Diventa un host</span>
            <span>Salvati</span>
            <span>Viaggi</span>
            <span>Messaggi</span>
            <span>Aiuto</span>
            <span id="circle"></span>
        </div>
    </div>
  </body>
</html>
