<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css" type="text/css">
    <title>Home</title>
  </head>
  <body>
    <div class="navbar">
        <div class="navbar-left">
            <h1>BoolBnB</h1>
            <input type="text" name="" value="" placeholder="Cerca">
            <i class="fas fa-search"></i>
        </div>
        <div class="navbar-right">
            <span>Diventa un host</span>
            <span>Salvati</span>
            <span>Viaggi</span>
            <span>Messaggi</span>
            <span>Aiuto</span>
        </div>
    </div>
    <div class="main">
        <div class="title">
            <h2>Appartamenti in Evidenza</h2>
        </div>
        <div class="featured_apartments">
          <div class="apartament-container">
              <img src="https://a0.muscache.com/4ea/air/v2/pictures/3942cea8-f4ba-4856-8626-29e23dfc3cc0.jpg?t=r:w1200-h720-sfit,e:fjpg-c90">
              <h3>Titolo</h3>
          </div>
          <div class="apartament-container">
              <img src="https://a0.muscache.com/4ea/air/v2/pictures/3942cea8-f4ba-4856-8626-29e23dfc3cc0.jpg?t=r:w1200-h720-sfit,e:fjpg-c90">
              <h3>Titolo</h3>
          </div>
          <div class="apartament-container">
              <img src="https://a0.muscache.com/4ea/air/v2/pictures/3942cea8-f4ba-4856-8626-29e23dfc3cc0.jpg?t=r:w1200-h720-sfit,e:fjpg-c90">
              <h3>Titolo</h3>
          </div>
      </div>
        <div class="featured_apartments">
          <div class="apartament-container">
              <img src="https://a0.muscache.com/4ea/air/v2/pictures/3942cea8-f4ba-4856-8626-29e23dfc3cc0.jpg?t=r:w1200-h720-sfit,e:fjpg-c90">
              <h3>Titolo</h3>
          </div>
          <div class="apartament-container">
              <img src="https://a0.muscache.com/4ea/air/v2/pictures/3942cea8-f4ba-4856-8626-29e23dfc3cc0.jpg?t=r:w1200-h720-sfit,e:fjpg-c90">
              <h3>Titolo</h3>
          </div>
          <div class="apartament-container">
              <img src="https://a0.muscache.com/4ea/air/v2/pictures/3942cea8-f4ba-4856-8626-29e23dfc3cc0.jpg?t=r:w1200-h720-sfit,e:fjpg-c90">
              <h3>Titolo</h3>
          </div>
      </div>
    </div>
    <div class="footer">
        <div class="footer-left">
            <h5>© 2019 BoolBnB.com, Inc.<a href="#">Terms and Conditions</a><a href="#">Privacy</a></h5>
        </div>
        <div class="footer-rigth">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>
  </body>
</html>
