$Logo_font_color : rgb(255, 90, 95);
$Span_font_color : rgb(125, 125, 125);
$color_white : white;
$color_light_grey: rgb(228, 228, 228);

$padding_navbar_footer: 0 20px;
$search_margin_top: 8px;
$main_padding: 100px;
$main_margin: 100px;



@mixin flexNavbarAndFooter {

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

@mixin navbar-right {

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin navbar-right_span {

  height: 60px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  color: $Span_font_color;
  padding: 20px;

  &:hover {

    background: $color_light_grey;
    border-bottom: 1px solid $Logo_font_color;
    color: $Logo_font_color;
  }
}

@mixin search_items {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  input {

    @include input;
   }

  i {
    position: absolute;
    left: 10px;
    top: 40%;
  }
}

@mixin search_image {

  width: 1349px;
  height: 575px;
}

@mixin input {

  height: 50px;
  width: 370px;
  border-radius: 5px;
  position: relative;
  text-indent: 40px;
}

@mixin featured_apartments {

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto auto auto;
  padding: 18px;
}

@mixin appartments_container {

  height: 400px;
  width: 288px;
  margin: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;

  img {

        width: 100%;
        height: 200px;
  }

  h6 {

    margin-top: 25px;
  }

  p {

    margin-top: 25px;
  }

  a {

    @include button;
    position: absolute;
    bottom: 0;
  }
}

@mixin show-apart_img {

  .img-container {

      padding-bottom: 100px;

      img {
        width: 1350px;
        height: 575px;
      }
   }
}

@mixin details-middle {

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:100px;
}

@mixin details-down {

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 100px;
}

@mixin button {

  button {

    background: $Logo_font_color;
    color: $color_white;
    border: none;
    height: 50px;
    border-radius: 5px;

    &:hover {

      border : 1px solid $Logo_font_color;
      color: $Logo_font_color;
      background: $color_white;
    }
  }
}
