div.footer {

  @include flexNavbarAndFooter;
  border-top: 1px solid $Span_font_color;
  padding: $padding_navbar_footer;

  div.footer-left {

    p.footer {

      font-size: 12px;
      a {
          margin-left: 8px;
      }
    }
  }

  .footer-rigth {

    color: $Logo_font_color;

      i.fab {

        color: $Logo_font_color;
        margin-left: 8px;
      }
  }
}
