
div.navbar {

    padding: 0 20px;
    @include flexNavbar;
    border-bottom: 1px solid rgb(228, 228, 228);

    div.navbar-left {

      display: flex;
      justify-content: center;
      align-items: center;

      h1 {

        color: $Logo_font_color;
        margin: 10px;
      }

      input {

          height: 30px;
          background: white;
          box-shadow: 5px 5px 5px lightgrey;
          border: white;
          margin: 10px;
      }
    }

    div.navbar-right {

      span {

          margin: auto;
          color: $Span_font_color;
          padding: 20px;

          &:hover {

            border-bottom: 1px solid $Logo_font_color;
            color: $Logo_font_color;
          }
       }

    }
}
