
div.nav-bar {

    padding: $padding_navbar_footer;
    @include flexNavbarAndFooter;
    background-color: rgba(228, 228, 228, .8);
    position: sticky;
    top: 0;
    z-index: 100;
    @media screen and (max-width: 768px) {
      position: relative;
    }

    @media all and (min-width: 768px) and (max-width: 1100px) {
      position: relative;
    }

    .fas.fa-bars {
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
    }

    .hidden-nav-bar {

     display: flex;
     list-style: none;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     display: none;

     min-width: 100vw;
     min-height: 150vh;

     position: absolute;
     top: 0;
     left: 0;
     text-align: left;

     z-index: 100;

     background-color: $Logo_font_color;

     i.fa-times {

        position: absolute;
        top: 20px;
        left: 20px;
        color: $color_light_grey;
     }

     div.hidden-container {

       display: flex;
       list-style: none;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       margin: auto;

       @media screen and (max-width: 992px) {
         position: relative;
         bottom: 150px;
       }

       @media screen and (min-width: 992px) {
         padding-top: 10px;
         position: relative;
         bottom: 160px;
       }

       div.diventa_login {

         display: flex;
         flex-direction: column;
         align-items: flex-start;
         text-decoration: none;
         position: relative;
         right: 45px;

         li.nav-item {

           position: relative;
           left: 45px;

           a {

              color: $color_light_grey;

              &:hover {
                color: darken($Span_font_color, 20%);
              }
            }

            div#dropdown{

              width: 100px;
              height: 100px;
              position: relative;
              left: 200px;
              color: $Logo_font_color;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: baseline;
              @media all and (min-width: 768px) {

                 position: relative;
                 bottom: 50px;
              }

               a#dropdown-item1 {
                color: $Logo_font_color;
                margin: 0 20px 0 0;
                position: absolute;
                left: 0;
                bottom: 50px;
                text-align: center;
              }

               a#dropdown-item2 {
                color: $Logo_font_color;
                margin: 0 20px 0 0;
                position: absolute;
                top: 50px;
                left: 0;
                text-align: center;
              }
            }
         }
       }

       span {
         margin: 100px 70px 0 70px;
         text-align: center;
         width: 200px;
         color: $color_light_grey;

         @media all and (max-width: 1100px) {
          margin: 85px 70px 0 70px;
         }

         @media all and (min-width: 1100px) {
          margin: 70px 70px 0 70px;
         }

         &:hover {
           color: darken($Span_font_color, 20%);
         }

         a {
           margin: 0 160px 0 0;
           text-decoration: none;
           color: $color_light_grey;
           position: relative;
           right: 10px;

           &:hover {
             color: darken($Span_font_color, 20%);
           }
         }
       }

       #home {
         position: relative;
         right: 8px;
       }

       span#mare {

         margin-left: 23px;

         a {
           margin: 50px 70px 0 70px;
         }
       }

        a {
          margin: 80px 70px 0 70px;
          position: relative;
          left: 62px;
          color: $Logo_font_color;

          @media all and (min-width: 1100px) {
           margin: 70px 70px 0 70px;
          }
        }
     }
    }

    div.nav-bar-left {

      @media screen and (max-width: 600px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media all and (max-width: 990px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      a {
        text-decoration: none;

        h1 {
          color: $Logo_font_color;
          margin: 10px;
          @media screen and (max-width: 600px) {
            font-size: 1.6rem;
          }

          &:hover {
            color: darken($Logo_font_color, 20%);
          }

        }
      }
    }

    div.nav-bar-right {

      @include navbar-right;

      @media screen and (max-width: 990px) {
        display: none;
      }

      li.nav-item.dropdown {
        list-style: none;

        .caret {
          padding: 0;
        }

      }

      span {

          @include navbar-right_span;
       }

      a.nav-link {

        @include navbar-right_span;
      }

      #newHost, #login {
        height: 80px;
        padding: 25px 0;
        margin-left: 15px;

        &:hover {
          text-decoration: none !important;
        }

        span {
          color: #7d7d7d;
          border: 2px solid #7d7d7d;
          padding: 3px 10px;
          border-radius: 4px;
        }

        & span:hover {
          background: #7d7d7d;
          border: 2px solid transparent;
          color: #fff;

        }
      }
    }

    .active {
      display: block;
      display: flex;
    }
}
