
div.nav-bar {

    padding: $padding_navbar_footer;
    @include flexNavbarAndFooter;
    background-color: $color_light_grey;
    position: sticky;
    top: 0;
    z-index: 100;

    div.nav-bar-left {

      h1 {

        color: $Logo_font_color;
        margin: 10px;
      }
    }

    div.nav-bar-right {

      @include navbar-right;

      li {

        list-style: none;
      }

      span {

          @include navbar-right_span;
       }

      a.nav-link {

        @include navbar-right_span;
      }

      #long {
        width: 140px;
        padding:20px 0;
      }
    }
}
