.container-fluid {
  min-height: calc(100vh - 80px);

  div.wrapper {
    background: transparent;
    width: 100%;

    div.search {
        position: relative;
        color: $Logo_font_color;


        .trisImg {
          position: relative;
          height: 70vh;
          overflow: hidden;
          border-bottom: .5px solid #eee;
          @media screen and (max-width: 1160px) {
            height: 42vh;
          }

          img {
            position: absolute;
            display: block;
            width: 72%;
            box-shadow: 20px 0 100px 45px #ccc;
            @media screen and (max-width: 1160px) {
              width: 100%;
              box-shadow: none;
            }
          }

          .headertitle {
            position: absolute;
            width: 28%;
            height: 100%;
            right: 0;
            @media screen and (max-width: 1160px) {
              display: none;
            }


            h1 {
              width: 100%;
              height: 100%;
              text-align: right;
              transform: translateY(25%);
              padding-right: 10px;
              color: #fff;
              text-shadow: 5px 1px 10px grey;
              font-family: 'PT Serif', sans-serif;
              font-size: 55px;
              @media screen and (max-width: 1260px) {
                font-size: 48px;
              }
            }

            img {
              box-shadow: none;
              width: 100%;
              z-index: -1;
              opacity: .7
            }

            img:nth-child(2) {
              margin-top: 100px;
              height: 50%;
              z-index: -2;
            }

            img:nth-child(3) {
              margin-top: 350px;
              z-index: -3;
            }
          }
        }

        div.search-items {
          @include search_items;

          .box-search-items {
            display: flex;
            align-items: center;

            .goSearch {
              display: block;
              width: 15%;
              height: 50px;
              background: dodgerblue;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              border: none;
            }
          }

          .advSearch {
            color: #ff5a5f;
            background: rgba(255, 255, 255, .8);
            padding: 0 15px;
            border-radius: 3px;
            display: inline-block;
            margin-top: 5px;

            &:hover {
              color: #fff;
              background: #ff5a5f;
              text-decoration: none;
            }

            @media screen and (max-width: 600px) {
              &:hover {
                color: #ff5a5f;
                background: rgba(255, 255, 255, .8);
              }
            }
          }
        }
    }

    div.main {

      padding:  $main_padding;
      margin-top: $main_margin;

        div.title {

          h2 {

            color: $Span_font_color;
            text-align: center;
            position: relative;
            bottom: 50px;
          }
        }

        div.featured_apartments {

            @include featured_apartments;

            div.apartament-container {

               @include appartments_container;
            }
        }
    }
    // dashboard utente loggato
    div.homeP {
      padding: 50px !important;

      display: inline-block;

      .title {

        h2 {
          padding: 20px 0;
        }
      }
    }

    div.dashB, div.homeP {

      button {
        background: #fc5c63;
        color: #fff;
        border: none;
        border-radius: 6px;
      }

      .boxAddNew {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
        @media screen and (max-width: 900px) {
          flex-direction: column;
        }

        h2 {
          text-align: center;
          @media screen and (max-width: 900px) {
            margin-bottom: 30px;
          }
        }

        .boxButtons {
          text-align: center;
          font-size: 14px;

          a:nth-child(1) {
            display: inline-block;
            margin-bottom: 10px;
          }

          button {
            border: 2px solid transparent;

            &:hover {
              border: 2px solid #ff5a5f;
              color: #ff5a5f;
              background: transparent;
            }
          }
        }
      }

      .box-apartments {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;



        .box-apartment {
          width: 420px;
          margin: 6px;
          border: 1px solid #ddd;
          overflow: hidden;
          height: 400px;
          margin-bottom: 30px;
          transition: all .3s;

          &:hover {
            margin-top: -7px;
            box-shadow: 2px 2px 15px grey;
            cursor: pointer;
          }

          a.dets {
            text-decoration: none;
            font-size: 32px;
            color: #404040;

            .box-data {

              h3 {
                font-size: 23px;
              }

              .descr {
                font-size: 18px;
                text-transform: uppercase;
                margin: 10px 0;
                color: #999;
              }

              .addr {
                font-size: 14px;
                text-align: right;
                padding-right: 7px;
                color: #999;
              }
            }

          }


          .box-image {
            width: 100%;
            height: 80%;
            margin-top: -20%;
            position: relative;

            img {
              width: 100%;
              height: 100%;
            }

            .del {
              position: absolute;
              border-radius: 50%;
              bottom: 4px;
              right: 6px;
              font-size: 14px;

              button {
                border-radius: 50%;
                width: 26px;
                height: 26px;
              }

              i.popup {
                position: relative;
                display: inline-block;

                .popuptext {
                  visibility: hidden;
                  width: 150px;
                  background-color: #aaa;
                  color: #fff;
                  text-align: center;
                  border-radius: 6px;
                  padding: 5px 0;
                  position: absolute;
                  font-family: 'Nunito',sans-serif;
                  border: 1px solid #808080;
                  right: 25px;
                  top: -10px;
                  z-index: 1;
                }

                &:hover .popuptext {
                  visibility: visible;
                }
              }
            }
          }

          .box-data {
            width: 100%;
            height: 50%;
            padding: 6px;
            border-top: 3px solid #ff5a5f;
            position: relative;

            a.spns {
              display: block;
              margin: auto;
              width: 50%;
              font-size: 10px;
              text-align: center;

              button:hover {
                background: transparent;
                color: #ff5a5f;
                border: 1px solid;
              }
            }

             h3 {
               margin-bottom: 0;
               font-size: 16px;
             }

            p.descr {
              margin-bottom: 0;
              color: #aaa;
              font-size: 14px;
            }

            p.addr {
              font-size: 12px;
              margin-bottom: 5px;
              color: #aaa;
            }

            ul {
              width: 100%;
              padding: 0;
              text-align: center;
              font-size: 13px;
              margin: 6px auto;

              li {
                list-style: none;
                width: 49%;
                display: inline-block;
                font-weight: 500;
              }
            }

            .char-wrapper {
              margin-top: -10px;
              margin-bottom: 6px;
              text-align: center;

              span {
                margin-bottom: 20px;
                font-size: 11.5px;
                font-weight: 500;
              }

              .activeApp {
                color: #ff5a5f;

                +span {
                  color: #ff5a5f;
                }
              }
            }

            .ed {
              position: absolute;
              border-radius: 5px;;
              top: 4px;
              right: 6px;
              font-size: 13px;

              button {
                border-radius: 50%;
                width: 26px;
                height: 26px;
              }
            }

            i.popup {
              position: relative;
              display: inline-block;

              .popuptext {
                visibility: hidden;
                width: 150px;
                background-color: #aaa;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                font-family: 'Nunito',sans-serif;
                border: 1px solid #808080;
                right: 25px;
                top: -10px;
                z-index: 1;
              }

              &:hover .popuptext {
                visibility: visible;
              }
            }
          }
        }
      }


    }

    div.dashB {
      padding: 40px;
    }
    // nuovo App. utente loggato
    .boxForm {
      margin: auto;
      padding: 50px 0;
      background-color: #cecece40;
      border-radius: 10px;
      margin-bottom: 30px;

      .search-form {

        .genErr {
          display: none;
          text-align: center;
          margin-bottom: 20px;
          color: red;
        }
      }

      label.error {
          width: 100%;
          text-align: right;
          color: red;
          font-size: 9px;
          font-weight: bold;
          padding-right: 40px;
        }

      form {
        text-align: center;

        img {
          max-width: 100%;
          display: block;
          padding: 50px;
          border-radius: 65px;
          margin: auto;
        }

        label {
          text-align: left;
          width: 200px;
          font-weight: 500;
        }

        input {
          width: 62%;
          padding-left: 10px;
          border: 1px solid #CCC
        }

        input[name="img_path"]{
          background-color: #0001;
        }

        #location-output{
          margin-left: 200px;
        }

        span.algolia-places {
          display: inline !important;
        }

        .opt-services{
          margin: auto;
          margin-top: 30px;
        }

        button.ap-input-icon.ap-icon-pin,
        button.ap-input-icon.ap-icon-clear{
          display: none;
        }

        .ap-input{

          padding-right: 10px;
        }

        .ap-dropdown-menu{
          margin-top: 20px;
        }
      }
    }
  }
}

div.details {

  @include show-apart_img;
  background: $color_light_grey;

  div.details-middle {

       @include details-middle;

       div.middle-left {

        width: 400px;
        text-align: left;
        position: relative;
        right: 85px;

        h4 {
          color: $Logo_font_color;
        }

        span, p {
          color: $Span_font_color;
        }
      }

       div.middle-right {

         li {

             color: $Span_font_color;
         }
       }
   }

  div.details-down {

    @include details-down;

    div.down-left {

      width: 575px;
      height: 391px;

      .map-container {

        width: 100%;
        height: 100%;

        #map {
          width: 100%;
          height: 100%;
          z-index: 0;
        }
      }
    }

    div.down-left {

      border: 1px solid black;
      width: 50%;
      margin-right: 50px;
    }

    div.down-right {

      display: flex;
      flex-direction: column;

      h1 {

        margin-bottom: 20px;
        color: $Logo_font_color;
      }

      #email {

          width: 250px;
          text-indent: 10px;
          margin-bottom: 20px;
      }

      #message {

        margin-top: 25px;
        height: 180px;
        margin-bottom: 20px;
      }

      @include button;
    }
  }
}

.sponsored {
  background: rgba(255, 90, 95, .5);

  h3, p {

    color: #ff454c
  }
}
