// .algolia-places {
//     width: 100%;
//   }

div.wrapper {

  div.search {

      margin-top: $search_margin_top;
      position: relative;
      color: $Span_font_color;

      img {

        @include search_image;
      }

      div.search-items {

        @include search_items_position;

        input {

          @include input;
         }

        i {
          position: absolute;
          left: 10px;
          top: 40%;
        }
      }
  }

  div.main {

    padding:  $main_padding;

      div.title {

        h2 {

          color: $Span_font_color;
          text-align: center;
        }
      }

      div.featured_apartments {

          @include featured_apartments;

          div.apartament-container {

              @include appartments_container;

              img {
                    width: 100%;
              }
          }
      }
  }
  // dashboard utente loggato
  div.container.dashB {
    max-width: 1200px;

    button {
      background: #fc5c63;
      color: #fff;
      border-radius: 4px;
      font-size: 15px;
      border: none;
    }

    .boxAddNew {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0;
    }
    h2 {
      text-align: center;
    }

    .box-apartments {
      display: flex;
      flex-wrap: wrap;

      .box-apartment {
        width: 32%;
        margin: 6px;
        border: 1px solid #ddd;

        img {
          width: 100%;
          height: 40%;
        }

        .infoAp {

          p {
            margin-bottom: 0;
          }

          span {
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
          }


          h3 {
            font-size: 22px;
          }

          .ed, .del {
            display: inline-block;
            width: 49%;
            margin: auto;
            text-align: center;
          }
        }

        .char-wrapper {

          margin-bottom: 20px;
        }
      }
    }
  }
  // nuovo App. utente loggato
  .boxForm {
    width: 65%;
    margin: auto;
    padding: 50px 0;

    form {
      text-align: center;

      label {
        text-align: left;
        width: 35%;
      }

      input {
        width: 62%;
      }
    }
  }
}

div.details {

  .img-container {

      img {
        width: 1350px;
        height: 400px;





      }


   }

  div.details-middle {

       display: flex;
       align-items: center;
       justify-content: space-around;
       padding: 50px;

       div.middle-left {

         padding: 0 350px 0 10px;
       }

       div.middle-right {

         padding-right: 75px;
       }
   }

  div.details-down {

    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 100px;

    div.down-left {

      border: 1px solid black;
      width: 50%;
      margin-right: 50px;
    }

    div.down-right {

      display: flex;
      flex-direction: column;

      #email {

          width: 150px;
          text-indent: 10px;
      }

      #message {

        margin-top: 25px;
        height: 180px;
        text-indent: 10px;
      }
    }
  }
}
